.pagination {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 18px;

  p {
    color: #7f5af0;
    font-size: 1.2rem;
    margin: 0;
  }

  .controls {
    display: flex;
    gap: 4px;
  }

  button {
    color: #7f5af0;
    height: 2rem;
    width: 2rem;
    background: none;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 1.15rem;

    &:hover {
      background: #010101;
    }

    &:disabled {
      opacity: 0.5;
      background: none;
      cursor: default;
    }
  }
}