.container {

  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;

  .list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
